.image {
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url(../public/gaming.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.p {
  color: rgb(168, 202, 176);
  text-align: center;
  font-size: 30px;
  padding: 25px;
  font-family: "Tangerine", cursive;
}

.title {
  font-family: Georgia, "Times New Roman", Times, serif;
}
