.image {
  background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)),
    url(../public/telephone.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.p {
  color: white;
  text-align: left;
  font-size: 30px;
  padding: 25px;
  font-family: "reenie beanie", cursive;
  margin: 0;
}

.form {
  color: white;
  border-radius: 5px;
  font-size: 24px;
  padding: 20px;
  display: block;
  text-align: left;
}

.input {
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  display: block;
  font-size: 18px;
}

.submit {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: #ffffff;
  color: #45a049;
}

.label {
  padding: 10px;
}

@media screen and (max-width: 480px) {
  .input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
}
