.container {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: rgb(183, 228, 198);
  color: rgb(9, 34, 15);
  display: flex;
  overflow: hidden;
}

.card {
  flex: 1;
  padding: 50px;
  padding-right: 0px;
  position: relative;
}

.blurb {
  font-family: system-ui;
  font-size: 18px;
}
