.container {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: rgb(183, 228, 198);
  color: rgb(9, 34, 15);
  display: flex;
  overflow: auto;
}

.card {
  flex: 1;
  padding: 15px;
  position: relative;
}

.blurb {
  font-family: system-ui;
  font-size: 16px;
  text-align: center;
}

.relink {
  text-align: left;
}

.title {
  text-align: center;
}

.zamage {
  /* border-radius: 50%; */
  width: 160px;
  height: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.book {
  border-radius: 50px;
  width: 25px;
  height: 25px;
}

.quote {
  margin: 15px;
  font-size: 24px;
}

.resources {
  text-align: left;
  padding-bottom: 20px;
}

.text {
  background: linear-gradient(rgb(9, 34, 15), rgb(183, 228, 198));
  position: relative;
  padding: 15px;
  margin: 0;
  color: #fff;
  border-radius: 15px 50px;
  text-align: center;
}

.li {
  margin-left: 20px;
}

.li:active {
  font-size: 31px;
  color: blue;
}

.li:hover {
  font-size: 31px;
  color: blue;
}

@media screen and (max-width: 480px) {
  .li {
    margin-left: 5px;
  }
}
