.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  padding: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  align-items: center;
  color: white;
}

.primary {
  flex: 2;
}

.title {
  font-weight: 400;
  background-color: darkgreen;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-family: "Tangerine", cursive, Georgia;
  padding: 5px;
  width: max-content;
  font-size: 28px;
}

.title:hover {
  font-weight: bold;
  padding: 7px;
}

.title:active {
  font-weight: bold;
  padding: 7px;
}

.link {
  color: darkgreen;
  font-size: 20px;
  text-decoration: none;
  display: flex;
}

.link:hover {
  color: rgb(108, 172, 108);
  text-decoration: underline;
}

.link:active {
  color: rgb(51, 94, 78);
}

.secondary {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  flex: 1;
}

.item {
  margin-bottom: 16px;
  color: darkgreen;
  text-align: center;
}

.contact {
  text-align: center;
  color: rgb(10, 10, 10);
  font-size: 16px;
  text-decoration: rgb(51, 94, 78);
  font-weight: bold;
  text-decoration: underline;
  background-color: white;
}

.contact:hover {
  font-weight: bolder;
  text-shadow: 2px, 2px, #eee8cf;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.info {
  color: inherit;

}

.info:hover {
  font-weight: bolder;
}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
    flex-direction: column;
  }

  .item {
    text-align: center;
  }
}
