@import url("https://fonts.googleapis.com/css?family=Tangerine");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Tangerine", cursive;
  font-size: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
