.container {
  background-color: rgb(9, 34, 15);

  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  padding: 20px 10px 20px 20px;
  position: relative;
  overflow: hidden;
}

.logobig {
  display: block;
}

.logosmall {
  display: none;
}

.listItem {
  display: inline;
  margin-right: 30px;
  font-size: 24px;
  color: rgb(181, 219, 200);
  cursor: pointer;
  box-shadow: 2px 2px #888888;
  border-radius: 10px;
  background-color: #1b4b27;
}

.listItem:hover {
  font-size: 25px;
  background-color: rgb(31, 75, 41);
}

.listItem:active {
  background-color: rgb(25, 83, 38);
}
.title {
font-size: 28px;
margin-left: 5px;
}

.title:hover {
  text-decoration: underline;
  color: white;
  font-size: 30px;
  font-family: Tangerine;
}

.title:active {
  text-decoration: underline;
  color: rgb(182, 235, 182);
}

.chat {
  background-color: rgb(183, 228, 198);
  color: rgb(9, 34, 15);

  display: inline;
  margin-right: 30px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  font-family: Tangerine;
  box-shadow: 5px 4px #888888;
}

.chat:active {
  font-size: 25px;
  color: white;
}

.chat:hover {
  font-size: 25px;
  text-shadow: 2px 2px 4px rgb(94, 89, 89);
}

.api {
  background: linear-gradient(rgb(183, 228, 198), rgb(14, 53, 23));
  display: inline;
  margin-right: 10px;
  font-size: 18px;
  color: rgb(250, 245, 245);
  cursor: pointer;
  /* box-shadow: 3px 3px #888888; */
  border-radius: 5px;
  padding: 5px;
  font-family: "Tangerine";
}

.api:hover {
  font-size: 22px;
  background-color: rgb(18, 66, 30);
  text-shadow: 2px 2px 4px #ffff;
}

.api:active {
  background-color: rgb(49, 179, 79);
}

.hamburger {
  display: none;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: white;
}

.menu {
  display: none;
  position: fixed;
  width: 50vw;
  height: calc(100vh - 50px);
  background-color: black;
  top: 50px;
  /* right: 0px; */
  z-index: 9999;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: lightgray;
  list-style: none;
  transition: all 1s ease;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0px 20px;
    justify-content: space-between;
  }

  .listItem {
    display: none;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .logobig {
    display: none;
  }

  .logosmall {
    display: block;
    font-size: 30px;
  }

  .api {
    margin: 5px;
  }
}
