.container {
  background-color: rgb(9, 34, 15);

  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  padding: 0px 100px;
  position: relative;
  overflow: hidden;
}

.listItem {
  display: inline;
  margin-right: 30px;
  font-size: 24px;
  color: rgb(183, 228, 198);
  cursor: pointer;
  box-shadow: 3px 3px #888888;
  border-radius: 10px;
  background-color: rgb(14, 53, 23);
}

.listItem:hover {
  font-size: 25px;
  background-color: rgb(30, 104, 47);
}

.listItem:active {
  background-color: rgb(49, 179, 79);
}

.title:hover {
  text-decoration: underline;
  color: white;
  font-size: 26px;
}

.title:active {
  text-decoration: underline;
  color: rgb(182, 235, 182);
}

.chat {
  background-color: rgb(183, 228, 198);
  color: rgb(9, 34, 15);

  display: inline;
  margin-right: 30px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  font-family: "reenie beanie";
  box-shadow: 5px 5px #888888;
}

.chat:active {
  font-size: 26px;
  box-shadow: 5px 5px #d3d1d1;
}

.chat:hover {
  font-size: 26px;
  box-shadow: 5px 5px #d3d1d1;
  font-weight: bolder;
}

.hamburger {
  display: none;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: white;
}

.menu {
  display: none;
  position: fixed;
  width: 50vw;
  height: calc(100vh - 50px);
  background-color: black;
  top: 50px;
  /* right: 0px; */
  z-index: 9999;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: lightgray;
  list-style: none;
  transition: all 1s ease;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0px 20px;
  }

  .listItem {
    display: none;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
