.sched {
  background-image: url(../public/sched3.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.p {
  color: rgb(188, 224, 196);
  text-align: center;
  font-size: 30px;
  padding: 25px;
  font-family: "reenie beanie", cursive;
  background-color: black;
}

/* .sched {
  width: 75px;
  padding: 0;
} */

.card {
  flex: 1;
  padding-top: 25px;
  text-align: center;
  height: 100%;
  width: 100%;
}

.vsgEvent {
  padding: 10px;
  text-decoration: underline;
  color: black;
  display: inline-block;
}

.vsgEvent:hover {
  color: blue;
  border: 5px;
}

.vsgEvent:active {
  color: blue;
  border: 5px;
}

@media screen and (max-width: 480px) {
  .title {
    color: rgb(157, 196, 166);
  }
}
