.container {
  display: flex;
  height: 30px;
  background-color: rgb(253, 255, 253);
  color: rgb(18, 49, 25);
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  justify-content: center;
  border-style: inset;
  /* font-weight: bold; */
  font-family: Georgia, "Times New Roman", Times, serif;
}
