.container {
  display: flex;
  height: 30px;
  width: 100%;
  padding: 0px;
  background-color: rgb(253, 255, 253);
  color: rgb(18, 49, 25);
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  font-weight: bolder;
  border-style: ridge;
  border-color: rgb(224, 252, 233);
  justify-content: space-evenly;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.tagline {
  justify-content: center;
}

.rip {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 1px 1px #303633;
}

.links {
  justify-content: right;
}

.api {
  background: linear-gradient(rgb(183, 228, 198), rgb(14, 53, 23));
  display: inline;
  margin-right: 10px;
  font-size: 16px;
  color: rgb(250, 245, 245);
  cursor: pointer;
  box-shadow: 2px 2px #888888;
  border-radius: 5px;
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: right;
  text-align: center;
}

.api:hover {
  font-size: 17px;
  background-color: rgb(18, 66, 30);
  text-shadow: 2px 2px 4px #ffff;
}

.api:active {
  background-color: rgb(49, 179, 79);
}
